body {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  font-family: PT Sans;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  font-family: PT Sans;
  background-color: #81b3d2;
}

.features-text-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  font-family: PT Sans;
}

.promo-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #333333;
  font-family: PT Sans;
}