body {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;  
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation .site-navigation-current {
  color: #766357;
}

.promo {
  text-align: center;
}

.promo-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
 }

.features {
  background-color: #81b3d2;
}

.features-text {
  color: #ffffff;
  text-align: center;
}

.features-text-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
 }

.our-services-list {
  list-style: none;
  text-align: center;
}

.our-services-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.advantages {
  background-color: #eeeeee;
  text-align: center;
}

.advantages h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.hotel-search {
  text-align: center;
}

.hotel-search b {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}

.hotel-search-button,
.reservation-button {
  background-color: #766357; 
 }

.hotel-search-button:hover,
.hotel-search-button:focus,
.reservation-button:hover,
.reservation-button:focus {
  background-color: #604e43;
}

.hotel-search-button:active,
.reservation-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.footer-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.footer-social ul {
  list-style: none;
  text-align: center;
}

.copyright {
  text-align: center;
}

.copyright-text {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.form-hotel-search {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.icon-button {
  background-color: #f2f2f2;
  border: none;	
}

.form-hotel-search-button,
.more-button {
  background-color: #81b3d2; 
}

.form-hotel-search-button:hover,
.form-hotel-search-button:focus,
.more-button:hover,
.more-button:focus {
  background-color: #669ec0;
}

.form-hotel-search-button:active,
.more-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.form-hotel-search input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  border: solid 2px transparent;
  text-transform: uppercase;
}

.form-hotel-search input:hover {
  background-color: #ebebed;
}

.form-hotel-search input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  outline: none;
} 

.filters {
  background-image: url("../img/filter-background.png");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.filter-hotels legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter-hotels fieldset {
  border: none;
}

.filter-priсe {
  border: solid 2px #ffffff;
}

.filter-priсe input {
  background-color: transparent;
  border: none;
  font: inherit;
  color: #ffffff;
}

.filter-hotels button {
  background-color: transparent;
  font: inherit;
  border: solid 2px #ffffff;
}

.selection-results p:first-of-type {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.selection-results p {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.selection-result-type-list {
  list-style: none;
}

.selection-result-current {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
}

.selection-result-type-item a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: dotted 1px #81b3d2;
}

.selection-result-type-item a:hover,
.selection-result-type-item a:focus {
  color: #81b3d2;
  border-bottom: dotted 1px #81b3d2;
}

.selection-result-type-item a:active {
  color: #000000;
  border-bottom: none;
}

.icon {
  fill: rgba(0, 0, 0, 0.3);
}

.selection-result-ranging-current .icon {
  fill: #81b3d2;
}

.selection-result-ranging a:focus .icon,
.selection-result-ranging a:hover .icon {
	fill: #000000;
}

.selection-result-ranging a:active .icon {
	fill: #81b3d2;
}

.results-list{
  list-style: none;
}

.results-list a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.results-list a:hover,
.results-list a:focus {
  color: #81b3d2;
}

.results-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.reservation-button,
.more-button {
  font-size: 14px;
  line-height: 21px;
 }

.rating p {
  color: #666666;
  background-color: #f2f2f2;
}

.star {
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.four-star {
  width: 89px;
  height: 17px;
 }

.three-star {
  width: 65px;
  height: 17px;
}

.two-star {
  width: 41px;
  height: 17px;
}
